[submodule "themes/alt"]
	path = themes/alt
	url = git@alpha:pa-0/lintalist-themes
	branch = main
[submodule "docs/plugins/textbox"]
	path = docs/plugins/textbox
	url = git@alpha:pa-0/lintalist-textbox
	branch = dev
[submodule "bundles/official"]
	path = bundles/official
	url = git@alpha:pa-0/lintalist-bundles
	branch = main
